[submodule "utils/Mask_RCNN"]
	path = utils/Mask_RCNN
	url = https://github.com/matterport/Mask_RCNN
[submodule "utils/pyStatParser"]
	path = utils/pyStatParser
	url = https://github.com/LiteralGenie/pyStatParser
